.home-page {
  width: 1500px;
  padding: 20px;
  margin: 300px auto;
  border: 1px solid rgb(219, 219, 219);
}

.btn-box {
  display: flex;
  justify-content: center;
}

.home-page button {
  margin-right: 20px;
}
